@import url("https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root {
    --bg-color: #1d1d1d;
    --txt-color-white: #fff;
    --txt-color-gray: #c4c4c4;
    --white: #d5d5d5;
    --primary: #892048;
    --secondary: #b86f2b;
    --special-gothic-expanded-one-regular: "Special Gothic Expanded One", sans-serif;
}
button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;
    height: 40px;
    color: var(--txt-color-white);
    transition: all 0.3s ease;
}
section {
    background-color: var(--bg-color);
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    z-index: 1000;
    transition: all 0.3s ease;
}
.navbar .left__link {
    display: flex;
    gap: 1rem;
}
.navbar .right__link {
    display: flex;
    gap: 1rem;
}
.navbar .link a {
    text-decoration: none;
    color: var(--txt-color-white);
    font-family: var(--special-gothic-expanded-one-regular);
}
.navbar .link a:hover {
    color: var(--primary);
    transition: all 0.3s ease;
    text-decoration: underline;
}
.navbar .link a:active {
    color: var(--secondary);
}
.navbar.scrolled {
    background-color: var(--bg-color);
}
.navbar.scrolled__white {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}
.navbar .right__link button {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
}
.navbar .right__link button.border__unfill {
    border: 1px solid var(--txt-color-white);
}
.navbar .right__link button.filled {
    background: linear-gradient(45deg, var(--primary), var(--secondary));
    background-size: 100% 200%;
    background-position: left top;
    transition: background-position 0.5s ease, background-size 0.5s ease;
}
.navbar .right__link button.filled:hover {
    background-position: right bottom;
}
.navbar .right__link button.border__unfill:hover {
    opacity: 0.8;
}

/* Hero */
.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.hero .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1578850141295-7fb35c301da6?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    filter: brightness(50%);
}
.hero .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--txt-color-white);
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    font-family: var(--special-gothic-expanded-one-regular);
}
.hero .subtitle {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--txt-color-white);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    font-family: var(--special-gothic-expanded-one-regular);
}
.hero .description {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--txt-color-white);
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    font-family: var(--special-gothic-expanded-one-regular);
}

/* ARTIST */
.artist__section {
    height: 100vh;
    background-color: var(--bg-color);
}
section .title {
    color: var(--txt-color-white);
    font-size: 3rem;
    font-weight: bold;
    padding: 1rem 5rem;
    font-family: var(--special-gothic-expanded-one-regular);
}
section .artist__list {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem 5rem;
}
section .artist {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 500px;
    height: 100%;
    max-height: 500px;
    gap: 1rem;
    padding: 1rem 5rem;
}
section .artist .card {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(45deg, var(--primary), var(--secondary));
    padding: 1rem;
    height: 310px;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}
section .artist .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}
section .artist .card .card__img {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 0.5rem;
}
section .artist .card .card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}
section .artist .card .card__content {
    width: 100%;
    margin-top: 1rem;
    text-align: left;
}
section .artist .card .card__content h3 {
    color: var(--txt-color-white);
    font-size: 1.5rem;
    font-weight: bold;
    font-family: var(--special-gothic-expanded-one-regular);
}
section .artist .card .card__content p {
    color: var(--txt-color-white);
    font-size: 1rem;
    font-family: var(--special-gothic-expanded-one-regular);
}
section .artist .card .card__content button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    color: var(--txt-color-white);
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid var(--txt-color-white);
    cursor: pointer;
    transition: all 0.3s ease;
}
section .artist .card .card__content button:hover {
    background-color: var(--txt-color-white);
    color: var(--bg-color);
}
/* TIKET */
.ticket__section {
    height: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://images.unsplash.com/photo-1684679493212-6adfaf58c388?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.ticket__section .title {
    color: var(--txt-color-white);
    font-size: 3rem;
    font-weight: bold;
    padding: 1rem 5rem;
    font-family: var(--special-gothic-expanded-one-regular);
}
.ticket__section .ticket__list {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem 5rem;
}
.ticket__section .ticket__list .ticket__card {
    font-family: var(--special-gothic-expanded-one-regular);
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, var(--primary), var(--secondary));
    padding: 1rem;
    justify-content: space-between;
    height: 400px;
    border-radius: 0.5rem;
}
.ticket__section .ticket__list .ticket__card .ticket__title {
    color: var(--txt-color-white);
    font-size: 1.5rem;
    font-weight: bold;
}
.ticket__title h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: var(--txt-color-white);
}
.ticket__section .ticket__list .ticket__card .ticket__content {
    color: var(--txt-color-white);
    font-size: 1rem;
}
.ticket__content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.ticket__section .ticket__list .ticket__card .ticket__price {
    color: var(--txt-color-white);
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.ticket__price button {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    color: var(--txt-color-white);
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid var(--txt-color-white);
    cursor: pointer;
    transition: all 0.3s ease;
}
.ticket__price button:hover {
    background-color: var(--txt-color-white);
    color: var(--bg-color);
}
.ticket__section .ticket__list .ticket__card .ticket__button {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
}
/* FOOTER */
footer {
    background-color: var(--bg-color);
    background-color: var(--white);
    font-family: var(--special-gothic-expanded-one-regular) !important;
    padding: 1rem 5rem;
}
footer .footerWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
footer .footerWrapper .links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
footer .footerWrapper .links .link a {
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
footer .footerWrapper .links .link a:hover {
    color: var(--primary);
    text-decoration: underline;
}
footer p {
    font-family: sans-serif !important;
}

/* RESPONSIVE */
@media screen and (max-width: 768px) {
    /* Navbar */
    .navbar {
        padding: 1rem;
    }
    .navbar .left__link {
        gap: 0.5rem;
    }
    .navbar .right__link {
        gap: 0.5rem;
    }
    .navbar .link a {
        font-size: 0.8rem;
    }
    .navbar .right__link button {
        padding: 0.3rem 0.5rem;
        border-radius: 0.3rem;
        font-size: 0.8rem;
    }
    .hero .title {
        font-size: 2rem;
        width: 100%;
    }
    .hero .subtitle {
        font-size: 1rem;
    }
    .hero .description {
        font-size: 0.8rem;
        width: 100%;
    }

    /* ARTIST */
    .artist__section {
        height: 100%;
        background-color: var(--bg-color);
    }
    section .title {
        font-size: 1.6rem;
        padding: 1rem;
    }
    section .artist__list {
        padding: 1rem 2rem;
    }
    section .artist {
        padding: 1rem;
    }
    section .artist .card {
        padding: 1rem;
    }
    section .artist .card .card__content h3 {
        font-size: 1.2rem;
    }
    section .artist .card .card__content p {
        font-size: 0.8rem;
    }
    section .artist .card .card__content button {
        font-size: 0.8rem;
    }

    /* TICKET */
    .ticket__section {
        height: 100%;
        background-color: var(--bg-color);
    }
    .ticket__section .title {
        font-size: 1.6rem;
        padding: 1rem;
    }
    .ticket__section .ticket__list {
        padding: 1rem 2rem;
    }
    .ticket__section .ticket__list .ticket__card {
        padding: 1rem;
    }
    .ticket__section .ticket__list .ticket__card .ticket__title h1 {
        font-size: 1.2rem;
    }
    .ticket__section .ticket__list .ticket__card .ticket__title h2 {
        font-size: 1rem;
    }

    /* FOOTER */
    footer {
        padding: 1rem;
    }
    footer .footerWrapper {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
    footer .footerWrapper .links .link a {
        font-size: 0.8rem;
    }
}
